html {
  font-family: sans-serif;
}

.wrapper {
  background-color: rgb(212,243,253);
  margin: 0 auto;
  max-width: 800px;
  min-width: 400px;
  padding: 20px;
}

.lastResult {
  color: white;
  padding: 3px;
}
